.button {
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
  cursor: pointer;
  &:not(.disabled):active {
    transform: translate(0, 5px);
    box-shadow: 0 1px 0 #4b4949;
    background-color: #4b4949;
  }
  &.disabled,
  &.selected {
    cursor: default;
    background-color: #666666;
  }
}
